html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
    font-family: 'Montserrat';
}

h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h2{
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 1.5;
    font-size: 3rem;
}
p{
    color: #8f8f8f;
}
#title{
    width: 100%;
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 10%;
}
/*Navigation Bar*/

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/*Download Buttons*/

.download-button{
    margin: 5% 3% 5% 0;
}
/* title image*/

.image{
    position: fixed;
    width: 19%;
    right: 25%;
    transform: rotate(25deg);
    z-index: 0;
}

/*features*/
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}
.easy-to{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 700;
}
.fa-solid{
    color: #ef8172;
    font-size: 100px;
    margin-bottom: 1rem;
}
.fa-solid:hover{
    color: #ff4c68;
}

.feature-box{
    text-align: center;
    padding: 5%;
}



/*testimonials*/

#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: #fff;
    position: relative;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
    position: relative;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/*pricing section*/

#pricing{
    position: relative;
    padding: 100px;
    text-align: center;
    z-index: 1;
    background-color: #fff;
    
}
.pricing-column {
    padding: 3% 2%;
}

/*cta*/

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    position: relative;
}
.end{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

#footer{
    text-align: center;
    padding: 1% 15%;
    position: relative;
    background-color: #fff;
}
.social-icon{
    margin:20px 10px;
}
.social-icon:hover{
    cursor: pointer;
    color: red;
}

@media (max-width:1028px){
    .sizing{
        font-weight: 00;
    }
    #title{
        width: 100%;
        text-align: center;
    }
    .image{
        position: static;
        transform: rotate(0);
    }
}
